<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <form action="/auth/signin" method="post">
            <div>
                <label>Phone:</label>
                <input type="text" name="phone" class="form-control" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" class="form-control" />
            </div>
            <div class="mt-3">
                <input type="submit" class="btn btn-primary btn-block" value="Log In" />
            </div> 
            </form>
        </div>
    </div>
</div>